$black: #292A3C;
$white: #F7F7F5;
$green-shadow: #d2d219;
$green: #f0f00a;
$purpl-shadow: #6114a3;
$purple: #7a21c5;
$tea-shadow: #01b6ae;
$teal: #62d6d2;
$secondary-shadow: #f03825;
$secondary: #ff5945;
$primary-shadow: #ffb100;
$primary: #ffdc00;
